<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PaySwarm Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Amr Fahmy">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">PaySwarm Registration</a>
          <div class="nav-collapse collapse">
           
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

	<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>Web Key Generation</h2>
        
        <p> PaySwarm Registration Process on Google App Engine using Python. Please if you need to generate new public key press on the generate button</p>
        
    	<form action="/" method="post">
         {% if publicKey is undefined %}
			<input type="submit" class="btn btn-primary btn-large" name="action" value="Generate Key Pair">
         {% else %} 
			<h3>Public Key</h3>
			<pre>
			{{ publicKey }}
			</pre> 
			<h3>Private Key</h3> (It's shown for illustration purpose only, in any real use this key shouldn't be displayed, or if to be transported using HTTPS and providing passcode)
			<pre>
			{{ privateKey }}
			</pre>
			<div class="alert alert-error alert-block" >
 			 <h4>Warning!</h4>
  			 <p>Their is a key pair has been generated before. If you want to regenerate new key pair press on Regenerate button.</p>
			 <input type="submit" class="btn btn-danger btn-large" name="action" value="Regenerate Key Pair">
			</div>
         {% endif %}
	    </form>
		<hr>
        <h2>Web Key Registration</h2>
        
		{% if publicKey is defined %}         
    		<form action="/registerRedirect" method="post" target="_blank">
				PaySwarm Authority: <input type="text" name="auth_url" value="dev.payswarm.com"/>
				<br>
				<input type="submit" class="btn btn-primary btn-large" value="Register"/>
    		</form>
		{% else %}
			<p>Please generate Web Key first from the button above.</p>
		{% endif %}
      </div>		
		

      <footer>
        <p>&copy; PaySwarm Registration 2013</p>
      </footer>

    </div> <!-- /container -->

 	<!--Functions -->
		<script>
			function myFunction(){
						document.getElementById("demo").innerHTML= 'here will be the generation code';
								 }
		</script>
 
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
